@import "../../colors.scss";

#alert-block {
	display: block;
	position: absolute;
	top: 5px;
	width: 100%;
	z-index: 1000;
	& > div {
		padding: 5px 10px;
		border-radius: 10px;
		margin: 0.3rem 10% 0;
	}

	.error {
		color: $error;
		background-color: #f8d7da;
	}

	.confirmation {
		color: $confirmation;
		background-color: #d4edda;
	}

	.warning {
		color: #856404;
		background-color: #fff3cd;
	}

	ul > li {
		display: flex;
		justify-content: space-between;

		span {
			font-size: 20px;
			cursor: pointer;
			margin-right: 10px;
		}
	}
}
